body {
    background-color: darkblue;
}
.hand-card {
    width: 100px;
}

#monster-area.row {
    top: 300px;
}

#monster-area>*>img {
    width: 110px;
    background-size: cover;
}

#monster1 {}
#monster2 {}
#monster3 {}
#monster4 {}
#monster5 {}

#drop-areas>*>img {
    width: 110px;
    /*height: 350px;*/
    background-size: cover;
    transform: rotate(180deg);
}

.deck-count {
    width: 110px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    float: right;
    margin-left: -50px;
    z-index: 20;
}
#deck-area>img {
    width: 110px;
    background-size: cover;
    cursor: url("cards/artemis.jpg"), auto;
}
.empty-space {
    width: 50px;
}

.empty-drop {
    width: 110px;
}
.attack-area {
    height: 50px;
}
.top-half {
    height: 410px;
}
.vert-space {
    height: 10px;
}
.bottom-half {
    height: 410px;
}
.hand-tab {
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.hand-tab>img {
    width: 110px;
    background-size: cover;
}
.hand-viewer {
    position: absolute;
    width: 101%;
    left: 0;
    height: 200px;
    top: calc(50% - 100px);
    background-color: rgba(103,50,16,0.8);
    z-index: 29;
    visibility: hidden;
}
.hand-viewer>*>img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    width: 130px;
    box-sizing: content-box;
    z-index: 30;
}
.hand-viewer>div {
    text-align: center;
}
/*.hand-tab>img:hover {*/
/*    border: yellow 5px solid;*/
/*    border-radius: 5px;*/
/*}*/

.hand-cancel {
    position: absolute;
    bottom: 10px;
    right: 50px;
    visibility: hidden;
}

.viewing-card {
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    width: 500px;
    position: absolute;
    z-index: 50;
    visibility: hidden;
}
.card-viewer {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
.skill-trans {
    position: absolute;
    bottom:215px; right:240px;
    /*margin: auto;*/
    width: 402px;
    height: 90px;
    background-color: rgba(200, 0, 0, 0.3);
    z-index: 100;
    visibility: hidden;
}

.swap-cancel {
    position: absolute;
    bottom: 10px;
    right: 50px;
    visibility: hidden;
}
.main-cancel {
    position: absolute;
    bottom: 10px;
    right: 50px;
    visibility: hidden;
}
.end-main {
    position: absolute;
    bottom: 10px;
    right: 50px;
    visibility: hidden;
}

.drop-extras1 {position: absolute;}
.drop-extras2 {position: absolute;}
.drop-extras3 {position: absolute;}



/*#hp-area>*>img {*/
/*    width: 110px;*/
/*    rotation: 90deg;*/
/*}*/
/*#hp-area>div {*/
/*    position: absolute;*/
/*}*/
/*#hp1 {*/
/*    position: absolute;*/
/*    !*top: 0;*!*/
/*}*/
/*#hp2 {*/
/*    position: absolute;*/
/*    !*top: 50px;*!*/
/*}*/
/*#hp3 {*/
/*    position: absolute;*/
/*    !*top: 100px;*!*/
/*}*/
/*#hp4 {*/
/*    position: absolute;*/
/*    !*top: 30px;*!*/
/*}*/
/*#hp5 {*/
/*    position: absolute;*/
/*    !*top: 40px;*!*/
/*}*/
/*#hp-area {*/
/*    background-color: skyblue;*/
/*    width: 120px;*/
/*    height: 160px;*/
/*}*/